*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style vertical horizontal center */
html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-header {
  background-color: #f4f4f4;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 20px;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-error {
  color: red;
  font-size: 1rem;
  display: block;
  margin-top: 0.5rem;
}

.form-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-check {
  display: block;
  margin-top: 0.5rem;
}

.form-check-input {
  margin-right: 0.5rem;
}

.form-check-label {
  display: inline-block;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.col {
  display: flex;
  justify-content: center;
}
